<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Live Kizz Admin</title>

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>

    <body>
        <div class="container">
            <h1>Admin</h1>

            <input class="btn btn-danger" type="button" name="start" value="Start">

            <ul>
            <% for(var i=0; i < questions.length; i++) {%>
            <li style="margin-top: 10px">
                <span><%= questions[i].query %></span>
            </li>
            <% } %>
            </ul>
            <br>
        </div>

        <script src="/js/jquery/jquery-1.10.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:9080');

            $("input[name='start']").click(function() {
                socket.emit('start');
                $(this).hide();
            });
        </script>
    </body>
</html>
