<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Live Kizz</title>

        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    </head>

    <body>
        <div id="player" class="container">
            <div v-if="!finished" id="playing">
                <h1 v-if="!started" id="query">Le jeu va bientôt commencer...</h1>

                <form v-if="started" id="question">
                    <h1>{{ question.query }}</h1>
                    <div class="radio" v-for="choice in question.choices">
                        <label>
                            <input :checked="choice.checked" :disabled="sent" type="radio" v-on:click="store(choice)">
                            <span class="radio-text">{{ choice.text }}</span>
                            <span v-if="choice.text == response && choice.checked && response != ''" class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            <span v-if="choice.text != response && choice.checked && response != ''" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        </label>
                    </div>

                    <button v-if="!sent" v-on:click="send" class="btn btn-primary">Répondre</button>

                    <h1>{{ time }}</h1>
                </form>

                <h1 class="text-success">{{ response }}</h1>
            </div>

            <div v-if="finished">
                <h1> Score : {{ score }}</h1>
            </div>
        </div>

        <script src="/js/jquery/jquery-1.10.1.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://localhost:9080');

            var player = new Vue({
                el: '#player',
                data: {
                    question: null,
                    answer: null,
                    response: '',
                    time: 0,
                    score: 0,
                    started: false,
                    finished: false,
                    sent: false
                },
                methods: {
                    store: function (choice) {
                        this.question.choices.forEach(function(choice) {
                            choice.checked = false;
                        });
                        choice.checked = true;
                        this.answer = choice.text;
                    },
                    send: function (event) {
                        event.preventDefault();
                        this.sent = true;
                        socket.emit('receive_answer', this.answer);
                    }
                }
            });

            socket.on('question', function(question) {
                player.response = '';
                player.started = true;
                player.sent = false;
                player.question = question;
            });

            socket.on('answer', function(response) {
                player.sent = true;
                player.response = response;
            });

            socket.on('score', function(score) {
                player.score = score;
                player.finished = true;
            });

            socket.on('remaining_time', function(time) {
                player.time = time;
            });
        </script>
    </body>
</html>
